.Navbar {
  width: 100%;
  margin: 0 0 20px 0;
  padding: 10px 20px;
  background-color: #f0f0f4;
  display: flex;
  flex-flow: row nowrap;
}

.Navbar-heading {
  font-weight: bold;
}

.Navbar-links {
  list-style-type: none;
  display: flex;
  flex-flow: row nowrap;
}

.Navbar-links-item {
  margin-right: 40px;
}